
$main-background-color: #29282D;
$knob-size: 30px;
$bar-radius: 15px;

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:  $main-background-color;
}

.component-container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10vh;
    align-items: center;
    // justify-content: space-arou;
    width: 500px;
    height: 300px;
    margin:  auto auto;
    box-shadow: 0 0 40px rgb(29, 29, 29);
    box-shadow: 0 0 100px rgb(29, 29, 29);
    box-shadow: 0 0 40px rgb(29, 29, 29);
    border-radius: 10px;
}

.money-amount{
    font-size: 1.8rem;
    font-family: sans-serif;
    color: #FFCA00;
    margin-top: 40px;
    margin-bottom: 50px;
}

.progress-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:  #55525A;

    width: 400px;
    height: 12px;
    border-radius: $bar-radius;
    margin-bottom: 40px;
    
    .knob{
        
        display: block;
        position: absolute;
        z-index: 10;
        // left: 0%;
        // opacity: 50%;
        border-radius: 50%;
        transform: scale(1);
       
        //  translateX(0px);
       
        // margin-left: -$knob-size/2-10;
        width: $knob-size;
        height: $knob-size;
      
        background-color: #FF0079;
        border-color: #FF0079;
        left:  430px;
        border-width: 0;
        opacity: 0.5;
        box-shadow: 0px 0px 0px 0px #ff007742;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        
        
    }
    .knob:hover{
        transform: scale(1.2);
        box-shadow: 0px 0px 0px 8px #ff007777;
        cursor: pointer;
    }
    
}

.progress-bar::after{
    display: block;
    position: relative;
    // overflow: hidden;
    border-radius: $bar-radius;
    content: "";
    width: 40%;
    height: 100%;
    background-color: #FF0079;
}

.buy-button{
    // visibility: hidden;
    color: aliceblue;
    font-size: 0.7rem;
    font-family: sans-serif;
    background-color: #39343F;
    padding: 15px 40px;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    transition: transform 0.2s ease;
    
}
.buy-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}